[user]
	name = Santiago Benitez 
	email = santiagobenitez06@gmail.com
[core]
	editor = vim
	excludesfile = ~/.gitexcludes
[color]
	ui = true
[push]
	default = simple
[diff]
	tool = vimdiff
[merge]
	tool = vimdiff
	conflictstyle = diff3
[mergetool]
	keepbackup = false
[include]
	path = ~/.gitconfig_local
[alias]
	s = status -sb
	b = branch
	c = commit -v
	a = add
	co = checkout
	l = pull
	p = push
	f = fetch
	mt = mergetool
	m = merge
	r = remote
	re = rebase
	lg = log --stat
	d = diff
	ls-c = diff --name-only --diff-filter=U
	ll-c = ls-files -u
	vdiff = difftool --tool=vimdiff
    rec = rebase --continue
    lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
    lga = log --graph --all --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
	pu = push -u
